<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Course Sign Up : Student Course Catalog</title>
    </head>
    <body>
       <!-- <link rel="stylesheet" href="indiana.css">-->
        <h1>Student Course Catalog</h1>
        <nav>
            <ul>
                <li><b><a href="index_FinalProjectGroup3.html">Home</a></b>&nbsp;</li>
                <li><b><a href="teacher_Admin.html">Teacher Administration</a></b>&nbsp;</li>
                <li><b></b><a href="student_Details.html">Student Details</a></b>&nbsp;</li>
                <li><b><a href="courses.html">Courses</a></b>&nbsp;</li>
                <li><b><a href="teacher_SignIn.html">Teacher Sign-In</a></b>&nbsp;</li>
                <li><b><a href="student_SignIn.html">Student Sign-In</a></b>&nbsp;</li>
            </ul>
        </nav>
        <h2> Single course details</h2>
        <div class="details content">
            <h2><%= course.course_title %></h2>
            <div class="content">
                <p><%= course.course_description %></p>
            </div>
            <a class="delete" data-doc="<%= course._id %>">delete</a>
    
        </div>
        <script>
            const trashcan = document.querySelector('a.delete');
            trashcan.addEventListener('click', (e) => {
                const endpoint = `/courses/${trashcan.dataset.doc}`;
    
                fetch(endpoint, {
                    method: 'DELETE'
                })
                    .then((response) => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch(err => console.log(err));
            })
        </script>
    </body>
</html>