<%- include('partialsJWT/header'); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/Kiwi_Smoothie.jpg" alt="smoothie recipe icon">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/Kiwi_Smoothie.jpg" alt="smoothie recipe icon">
        <h4>Tropical Twist</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/Kiwi_Smoothie.jpg" alt="smoothie recipe icon">
        <h4>Protein Packer</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/Kiwi_Smoothie.jpg" alt="smoothie recipe icon">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/Kiwi_Smoothie.jpg" alt="smoothie recipe icon">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/Kiwi_Smoothie.jpg" alt="smoothie recipe icon">
        <h4>Tropical Twister</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
</ul>

<%- include('partialsJWT/footer'); -%>